<HTML ng-app="CombineModule">
<HEAD>
<TITLE>test1</TITLE>

<script src="../../Latest/Minified/angular.min.js">
</script>

<script src="assets/mod/mycustoms.js">
</script>

<style type="text/css">
	body{
		background-color: {{txtColor}};
		font-size: {{selSize}}
	}
</style>
</HEAD>
<BODY>
	{{"AKNSS"}}
<br/>
	{{ 1.5 + 4 }}
<br/>
	{{ "This" + " Is" }}
<hr/>
<fieldset>
	<legend>
		Angular Variables
	</legend>
	<input type="input" ng-model="txtStrVar" />
	<br/>
	Runtime Value of txtStrVar = {{txtStrVar}}
	<br/>
	Runtime Field Update: <span ng-bind="txtStrVar" style="color: red"></span>
	<hr>
	Enter Color: <input type="input" ng-model="txtColor" name="">
	Select Size: 
	<select ng-model="selSize">
		<option value="10">Ten</option>
		<option value="15">10 & 5</option>
		<option value="20">Twenty</option>
		<option>30</option>
		<option value="30">Thirty(ByVal)</option>
	</select>
	Conclusion: It takes selected item's Value first if exists else takes selected item's Text
</fieldset>
<hr/>
<b>ng-init & ng-repeat</b>
<br/>
<div ng-init="[fName='Mohammad', mName='Qayamuddin', lName='Ansari']">
	{{fName + ' ' + mName + ' ' + lName}}
</div>
<br/>
<div ng-init="MyName=['Mohammad', 'Qayamuddin', 'Ansari']">
	<div ng-repeat="obj in MyName">
		{{obj}}
	</div>
	<br/>
	By Index:
	<br/>
	<div>
		<b>First Name:</b> {{MyName[0]}} 
		<b>Mid Name:</b> {{MyName[1]}}
		<b>Last Name:</b> {{MyName[2]}}  
	</div>
</div>
<hr/>
<b>Module & Controller</b>

	<div ng-controller="myController">
		Output from <b>myMod</b>: {{myVar + ' ' + myVar1 + ' ' + myVar2}}
	</div>
<br/>
	<div ng-controller="myController1">
		This is function call : {{ myFunc() }}
		<br>
		Menual:
		<br>
		<input type="input" ng-model="a">
		<input type="input" ng-model="b">
		<br>
		<b>Simple calc</b>
		<input type="input" ng-model="opA">
		<select ng-model="opEx">
			<option value="0" selected>Select arithmetic operations</option>
			<option value="1">+</option>
			<option value="2">-</option>
			<option value="3">x</option>
			<option value="4">/</option>
		</select>
		<input type="input" ng-model="opB">
		= {{ simpleCalc() }}
	</div>
<br/>
	<div ng-controller="myCtrl">
		Output from <b>myMod -> myCtrl</b>: {{myVar + ' ' + myVar1 + ' ' + myVar2}}
	</div>
</BODY>
</HTML>